<!-- FOOTER -->       
<div class="line">
   <footer>
      <div class="s-12 l-8">
         <p>
            Copyright 2023, Developogram - developer@kabhishek18.com<br>
            All images is purchased from Bigstock. Do not use the image in your website.
         </p>
      </div>
      <div class="s-12 l-4">		                            
         <a class="right" href="https://kabhishek18.com" title="Responsive framework">Design and coding<br>
         by Krab Team
         </a>                       
      </div>
   </footer>
</div>