{% extends 'blogs/base.html' %}
{% load static %}
{% block content%}

   <!-- MAIN SECTION -->                  
   <section id="home-section" class="line">
      <div class="margin">
         <!-- ARTICLES -->             
         <div class="s-12 l-9">
         {% for item in posts %}
            <!-- ARTICLE-->              
            {% if item.status == 1 %}
               <article class="post-{{ forloop.counter }}  {% if forloop.counter|divisibleby:2 %}right-align{% endif%} line">
                  <!-- image -->                 
                  <div class="s-12 l-6 post-image">                   
                     <a href="{% url 'blog'%}/{{item.slug}}">
                     <img src="media/{{item.image}}" alt="Fashion 1">
                     </a>                
                  </div>
                  <!-- text -->                 
                  <div class="s-12 l-5 post-text">
                     <a href="{% url 'blog'%}/{{item.slug}}">
                        <h2>{{item.title|slice:":85"|safe}}...</h2>
                     </a>
                     <p>{{item.precontent |slice:":200"|safe}}... </p>
                     <a class="continue-reading" href="{% url 'blog'%}/{{item.slug}}">Continue reading</a>
                  </div>
                  <!-- date -->                 
                  <div class="s-12 l-1 post-date">
                     <p class="date">{{item.created_on|date:'d'}}</p>
                     <p class="month">{{item.created_on| date:'M'}}</p>
                  </div>
               </article>
            {% endif %}
         {% endfor %}
         <div class="pagination">
            <div class="step">
               {% if posts.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ posts.previous_page_number }}"> &laquo; previous</a>
                  {% if posts.number > 3 %}
                     <a href="?page=1">1</a>
                     {% if posts.number > 4 %}
                        <span>...</span>
                     {% endif %}
                  {% endif %}

               {% endif %}
               {% comment %} If Page Count Is Required 
               https://testdriven.io/blog/django-pagination/
               {% endcomment %}
                {% comment %} <span href ="javascript:void(0)">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span> {% endcomment %}
               {% for num in posts.paginator.page_range %}
                  {% if posts.number == num %}
                  <a href="?page={{ num }}">{{ num }}</a>
                  {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                  <a href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
               {% endfor %}


                {% if posts.has_next %}
                  {% if posts.number < posts.paginator.num_pages|add:'-3' %}
                     <span>...</span>
                     <a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
                  {% elif posts.number < posts.paginator.num_pages|add:'-2' %}
                     <a href="?page={{ posts.paginator.num_pages }}">{{ posts.paginator.num_pages }}</a>
                  {% endif %}
                  <a href="?page={{ posts.next_page_number }}">next &raquo;</a>
                  <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
               </div>
         </div>      
            
         </div>
         <!-- SIDEBAR -->             
         {%include 'blogs/sidebarads.html' %}
      </div>
   </section>
{% endblock %}     