{% extends 'blogs/base.html' %}
{% load static %}
{% block content%}
    <!-- MAIN SECTION -->                  
    {% if post.status == 1 %}
        <section id="article-section" class="line">
            <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-9">
                <!-- ARTICLE 1 -->               
                <article class="margin-bottom">
                    <div class="post-{{poststyle}} line">
                        <!-- image -->                 
                        <div class="s-12 l-11 post-image">                   
                        <img src="/media/{{post.bannerimage}}" alt="{{post.slug}}">              
                        </div>
                        <!-- date -->                 
                        <div class="s-12 l-1 post-date">
                            <p class="date">{{post.created_on|date:'d'}}</p>
                            <p class="month">{{post.created_on| date:'M'}}</p>
                        </div>
                    </div>
                    <!-- text -->                 
                    <div class="post-text">
                        <h1>{{post.title}}</h1>
                        <h4>{{post.subtitle}}</h4>
                        {{post.content|safe}}
                    </div>
                </article>
                
            </div>
            {% include 'blogs/sidebarads.html'%}    
            </div>
            
            {% include 'blogs/horizontalads.html'%}
        </section>      
    {% elif post.status == 0 %}
        <section id="article-section" class="line">
            <div class="margin">
            <!-- ARTICLES -->             
            <div class="s-12 l-9">
                <!-- ARTICLE 1 -->               
                <article class="margin-bottom">
                   
                    <!-- text -->                 
                    <div class="post-text">
                        <h3>This Section Has Revoked By The Administrator</h3>
                        <h6> Please Contact Administrator For The Detailed Information</h6>
                    </div>
                </article>
                
            </div>
            {% include 'blogs/sidebarads.html'%}    
            </div>
            
            {% include 'blogs/horizontalads.html'%}
        </section>        
    {% endif %}    
 {% endblock%}