{% load static %}
<!-- SIDEBAR -->             
         <div class="s-12 l-3">
            <aside>
                <!-- NEWS 1 -->           
                <img src="{% static 'templates/img/key.jpg '%} " alt="News 1">          
                <div class="aside-block margin-bottom">
                    <h3>This is the first news on blog</h3>
                    <p>Lorem ipsum dolor sit amet, conse ctetuer. Duis autem vemeu iriure dolor adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                </div>
                <!-- NEWS 2 -->           
                <img src="{% static 'templates/img/sidebn2.jpg '%} " alt="News 2">          
                <div class="aside-block margin-bottom">
                    <h3>Second news on the fashion blog</h3>
                    <p>Lorem ipsum dolor sit amet, conse ctetuer. Duis autem vemeu iriure dolor adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
                </div>
                <!-- AD REGION --> 
                <div class="advertising margin-bottom">
                    <img src="{% static 'templates/img/banner.jpg'%}" alt="ad banner">         
                </div>
            </aside>
         </div>