<!-- TOP NAV WITH LOGO -->          
<header class="margin-bottom">
   <div class="line">
      <nav>
         <div class="top-nav">
            <p class="nav-text"></p>
            <a class="logo" href="{% url 'home' %}">            
            Develogram<span>Blog</span>
            </a>            
            <h1>Step to upgrade</h1>
            <ul class="top-ul right">
               <li>            
                  <a href="{% url 'home' %}">Home</a>            
               </li>
               <li>            
                  <a href="{% url 'blog' %}">Blog</a>            
               </li>
               <li>            
                  <a href="{% url 'code' %}">Code</a>            
               </li>
               <li>            
                  <a href="{% url 'contact' %}">Contact</a>            
               </li>
               <div class="social right">	           
                  <a target="_blank" href="https://www.facebook.com/myresponsee">
                  <i class="icon-facebook_circle icon2x"></i>
                  </a>          
                  <a target="_blank" href="https://twitter.com/MyResponsee">
                  <i class="icon-twitter_circle icon2x"></i>
                  </a>          
               </div>
            </ul>
         </div>
      </nav>
   </div>
</header>